$c-bleu-fonce:#0B2545;
$c-bleu-clair:#8DA9C4;
$c-blanc-casse:#F3F3F3;
$c-blanc:#FFFFFF;
$c-noir:#000000;

$size-text-phone: 16px;
$size-text-desktop: 20px;
$size-title-phone: 69px;
$size-title-desktop: 96px;