$c-bleu-fonce:#0B2545;
$c-bleu-clair:#8DA9C4;
$c-blanc-casse:#F3F3F3;
$c-blanc:#FFFFFF;
$c-noir:#000000;
$c-hover: #9B4F7F;

$size-text-phone: 18px;
$size-text-desktop: 20px;
$size-title-phone: 44px;
$size-title-desktop: 95px;
$size-title-desktop-princ: 167px;
$size-title-phone-princ: 86px;
$size-title-phone-comp: 31px;